# Linguist Overrides: Ignore Tests and Examples in Language Stats
tests/* linguist-documentation=false
tests/* linguist-vendored=true
examples/* linguist-documentation=false
examples/* linguist-vendored=true

text=auto

*.cc text diff=cpp
*.h text diff=cpp

*.py text
*.pyi linguist-generated=true
*.toml text
*.md text
Doxyfile text

*.sh text eol=lf
*.ps1 text eolf=crlf
tools/* linguist-documentation=false

*.csv=binary
*.png binary
*.jpg binary

extern/* linguist-vendored=true